In [1]:
import analysis as anls
import pandas as pd

In [12]:
# Calculate, for each process step, how long users spend there on average:
query = """
SELECT  
        p.variation,
        s.process_step,
  		avg(s.time_diff)
FROM `session` s
JOIN participants p
	ON p.client_id = s.client_id
GROUP BY s.process_step, p.variation
order by process_step asc
""" 
mean_time_by_step = anls.query_db(query)

In [13]:
mean_time_by_step

  variation  process_step  avg(s.time_diff)
0   Control             0        555.565657
1      Test             0        466.412098
2   Control             1         61.409330
3      Test             1         52.266724
4   Control             2         48.771101
5      Test             2         73.655594
6   Control             3        112.254791
7      Test             3        108.535578
8   Control             4        166.588074
9      Test             4        146.191376